*,
*::before,
*::after 
{
    box-sizing: border-box;
}

* 
{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20em;
    margin: auto 0;
    letter-spacing: 0.5em;
    overflow: hidden;
}

.btn-1 
{
    margin-top: 30px;
    border: 3px solid transparent;
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 2px 4px 2px;
    color: var(--bg-dark);
    background-color: transparent;
}

.btn-1:hover 
{
    background-color: transparent;
    color: #135febd0;
    cursor: pointer;
}

.btn-1:hover {
    cursor: pointer;
}



@media screen and (max-width: 1400px) {
    body {
        padding: 10em;
        margin: 8em;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 900px) {
    body {
        padding: 10em;
        margin: 8em;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 750px) {
    body {
        padding: 10em;
        margin: 8em;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    h1 {
        padding: 0.5em;
        margin: 0.5em;
        font-size: 2.5em
    }
    .btn-1 {
        padding: 0.5em;
        margin: 2em;
    }
}